<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013134024517-0ldn7jasm6259k6c22658tm5pkdvtdo4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013134024517-0ldn7jasm6259k6c22658tm5pkdvtdo4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1013134024517-tplhb5fmmpe352ht1mp9n1alpoaqr4lt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5n2VbKztRsKHE0xkzgBDpzbbPozCn96w</string>
	<key>GCM_SENDER_ID</key>
	<string>1013134024517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-signin-7113a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-signin-7113a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013134024517:ios:dcaef34fdbe5a0fae9682c</string>
</dict>
</plist>